#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
nav
{
   position: fixed;
   top: 0;
   width: 100%;
}
body{
    padding: 15px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  
}
li {
  float: right;
}
li a {
    display: block;
    padding: 15px;
}

@media screen and (max-width: 600px) {
    body {
        background-color: blue;
        color: white;
    }
}
